@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Practice consuming Google Books API</h2>
    <h3>By Sonu Sainju</h3>
</div>

<div>
    <p>Please Login to view books.</p>
</div>